.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ScrollbarsCustom-Track {
  background-color: rgba(0, 0, 0, 0) !important;
}
.ScrollbarsCustom-Thumb {
  width: 3px !important;
  opacity: 0.5 !important;
  margin: 'auto' !important;
  margin-left: 6px;
}

* {
  box-sizing: border-box;
}

[xmlns="http://www.w3.org/2000/svg"] g text
{
  font-size: 14px !important;
}

[class^='_spectrum-Slider-handle'],
[class^='_spectrum-Button'],
[class^='_spectrum-ActionButton'] {
  cursor: pointer !important;
}
